* {
    font-family: sans-serif;
}

.navbar {
    background-color: #00000026;
    position: absolute !important;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.logo {
    height: 73px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand, .nav-link, .navbar-dark, .navbar-nav  {
    font-size: x-large;
    color: whitesmoke;
    font-family: sans-serif;
    cursor: pointer;
}

.nav-link {
    transition: color 0.3s, text-decoration 0.3s;
}

.nav-link:hover {
    border-bottom: 2px solid #33b298;
    padding-bottom: 2px;
}

.carousel-item {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.carousel-inner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /*object-position: center top;*/
    object-position: 80% 35%;
}

.carousel-control-prev-icon{
    margin-left: -115px;
    top: 80vh;
}

.carousel-control-next-icon{
    top: 80vh;
    margin-right: -110px;
}

@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    color: var(--color);
    background: var(--bgColor);
}

ol {
    width: min(60rem, 90%);
    margin-inline: auto;
    margin-top: 10vh !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    counter-reset: stepnr;
}

li:nth-child(6n + 1) { --accent-color: #b8df4e }
li:nth-child(6n + 2) { --accent-color: #4cbccb }
li:nth-child(6n + 3) { --accent-color: #7197d3 }
li:nth-child(6n + 4) { --accent-color: #ae78cb }
li:nth-child(6n + 5) { --accent-color: #7dc7a4 }
li:nth-child(6n + 6) { --accent-color: #f078c2 }

ol li {
    counter-increment: stepnr;
    width: 18rem;
    --borderS: 2rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(var(--borderS) + 2rem);
    position: relative;
}

ol li::before,
ol li::after {
    inset: 0;
    position: absolute;
    border-radius: 50%;
    border: var(--borderS) solid var(--bgColor);
    line-height: 1.1;
}

ol li::before {
    content: counter(stepnr);
    color: var(--accent-color);
    padding-left: 10rem;
    font-size: 12rem;
    font-weight: 700;
    overflow: hidden;
}

ol li::after {
    content: "";
    filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

ol li > * {
    width: 7.5rem
}

ol li .icon {
    font-size: 2rem;
    color: var(--accent-color);
    text-align: center;
    padding-bottom: 2.3vh;
}

ol li .title {
    font-size: 2rem;
    font-weight: 500
}

ol li .descr {
    font-size: 0.8rem;
    text-align: center;
}

.credits {
    margin-top: 2rem;
    text-align: right
}
s
.credits a {
    color: var(--color)
}


.type--A{
    --line_color : #555555 ;
    --back_color : #FFECF6  ;
}
.type--B{
    --line_color : #1b1919 ;
    --back_color : #E9ECFF
}
.type--C{
    --line_color : #00135C ;
    --back_color : #DEFFFA
}
.button{
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ;
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;
}
.button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : var(--line_color) ;
    transition : all .5s ease ;
}
.button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
}
.button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
}
.button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
}
.button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
    left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
    right : 0 ;
}
.button:hover{
    letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
    width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
}
.button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
}
.button__drow2{
    top : 44px ;
    left : 77px ;
    width : 32px ;
    height : 0 ;
    transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
    content : '' ;
    position : absolute ;
}
.button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
}
.button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
}
.button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
}
.button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
    background : var( --back_color ) ;
}
.button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
    animation : drow2 linear .08s .06s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
}
@keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
}
@keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
}
@keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
}
@keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
}
@keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
}

.container{
    width : 100% ;
    height : 300px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
}
.button:not(:last-child){
    margin-bottom : 64px ;
}

* {
    box-sizing: border-box;
}

:root {
    --lerp-0: 1;
    --lerp-1: 0.5787037;
    --lerp-2: 0.2962963;
    --lerp-3: 0.125;
    --lerp-4: 0.037037;
    --lerp-5: 0.0046296;
    --lerp-6: 0;
}

a {
    outline-offset: 4px;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.imgFooter .col-lg-2 {
    padding: 5px;
}

.imgFooter img {
    width: 100%;
    height: 16vh;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.imgFooter img:hover {
    transform: scale(1.1);
}

.footerIcons {
    margin-top: 10px;
}

.social-icon {
    display: inline-block;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: white;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.1);
}

footer .text-center {
    font-size: 14px;
    color: #555;
}

footer .text-center a {
    text-decoration: none;
    color: #007bff;
}

footer .text-center a:hover {
    text-decoration: underline;
}

.w-100{
    height: 17vh;
}

.text-blk {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
    margin-top: -21vh;
}

.responsive-container-block.bigContainer {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0 0 0 0;
}

.responsive-container-block.Container {
    max-width: 1320px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.responsive-container-block.leftSide {
    width: auto;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    flex-direction: column;
    position: static;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 300px;
}

.text-blk.heading {
    font-size: 40px;
    line-height: 64px;
    font-weight: 900;
    color: #33b298;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.text-blk.btn {
    color: rgb(0, 178, 235);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(160, 121, 0, 0.2) 0px 12px 35px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    cursor: pointer;
}

.responsive-container-block.rightSide {
    width: 675px;
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    height: 700px;
    min-height: auto;
}

.number1img {
    margin-top: 39%;
    margin-right: 80%;
    margin-bottom: 29%;
    margin-left: 0px;
    height: 32%;
    width: 20%;
    position: absolute;
}

.number2img {
    margin-top: 19%;
    margin-right: 42%;
    margin-bottom: 42%;
    margin-left: 23%;
    width: 35%;
    height: 40%;
    position: absolute;
}

.number3img {
    width: 15%;
    height: 19%;
    position: absolute;
    margin-top: 62%;
    margin-right: 64%;
    margin-bottom: 30%;
    margin-left: 23%;
}

.number4vid {
    width: 35%;
    height: 42%;
    position: absolute;
    margin-top: 62%;
    margin-right: 27%;
    margin-bottom: 0px;
    margin-left: 39%;
}

.number5img {
    position: absolute;
    width: 13%;
    height: 21.7%;
    margin-top: 38%;
    margin-right: 27%;
    margin-bottom: 41%;
    margin-left: 60%;
}

.number6img {
    position: absolute;
    margin-top: 0px;
    margin-right: 3%;
    margin-bottom: 67%;
    margin-left: 62%;
    width: 35%;
    height: 35%;
}

.number7img {
    position: absolute;
    width: 30%;
    margin-top: 40%;
    margin-right: 0px;
    margin-bottom: 18%;
    margin-left: 75%;
    height: 44%;
}

.text-blk.subHeading {
    font-size: 14px;
    line-height: 25px;
}

@media (max-width: 1024px) {
    .responsive-container-block.Container {
        flex-direction: column-reverse;
    }

    .text-blk.heading {
        text-align: center;
        max-width: 370px;
    }

    .text-blk.subHeading {
        text-align: center;
    }

    .responsive-container-block.leftSide {
        align-items: center;
        max-width: 480px;
    }

    .responsive-container-block.rightSide {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 100px;
        margin-left: auto;
    }

    .responsive-container-block.rightSide {
        margin: 0 auto 70px auto;
    }
}

@media (max-width: 768px) {
    .responsive-container-block.rightSide {
        width: 450px;
        height: 450px;
    }

    .responsive-container-block.leftSide {
        max-width: 450px;
    }
}

@media (max-width: 500px) {
    .number1img {
        display: none;
    }

    .number2img {
        display: none;
    }

    .number3img {
        display: none;
    }

    .number5img {
        display: none;
    }

    .number6img {
        display: none;
    }

    .number7img {
        display: none;
    }

    .responsive-container-block.rightSide {
        width: 100%;
        height: 250px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 100px;
        margin-left: 0px;
    }

    .number4vid {
        position: static;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        width: 100%;
        height: 100%;
    }

    .text-blk.heading {
        font-size: 25px;
        line-height: 40px;
        max-width: 370px;
        width: auto;
    }

    .text-blk.subHeading {
        font-size: 14px;
        line-height: 25px;
    }

    .responsive-container-block.leftSide {
        width: 100%;
    }
}
.titleCircle {
    color: #33b298;
    font-family: sans-serif;
}

.container p-4 pb-0{
    display: inline !important;
}

